@model ProyectoHotelFE.Models.HabitacionModel

@{
    ViewData["Title"] = "Abrir Crear Habitacion";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="~/css/agregar_editar.css" />
    <title>Crear Nueva Habitación</title>
</head>
<body>
    <h1>Crear Nueva Habitación</h1>
    <hr />
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg"><b>Ingrese la información de la habitación</b></p>
            <form asp-action="GuardarHabitacion" asp-controller="Habitacion" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group has-feedback">
                    <label asp-for="numeroHabitacion" class="control-label"></label>
                    <input asp-for="numeroHabitacion" class="form-control" placeholder="Número de Habitación" />
                    <span class="glyphicon glyphicon-home form-control-feedback"></span>
                    <span asp-validation-for="numeroHabitacion" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="tipoHabitacion" class="control-label"></label>
                    <select asp-for="tipoHabitacion" class="form-control" asp-items="ViewBag.TipoHabitaciones"></select>
                    <span class="glyphicon glyphicon-bed form-control-feedback"></span>
                    <span asp-validation-for="tipoHabitacion" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="capacidad" class="control-label"></label>
                    <input asp-for="capacidad" class="form-control" placeholder="Capacidad" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="capacidad" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="precio" class="control-label"></label>
                    <input asp-for="precio" class="form-control" placeholder="Precio" />
                    <span class="glyphicon glyphicon-usd form-control-feedback"></span>
                    <span asp-validation-for="precio" class="text-danger"></span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Crear</button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-3">
                <a asp-action="Index" asp-controller="Habitacion" class="text-center">Regresar a la lista</a>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="~/js/agregarusuario.js"></script>
    <script>
    $(document).ready(function () {
        var successMessage = '@TempData["SuccessMessage"]';
        var errorMessage = '@TempData["ErrorMessage"]';

        mostrarMensajeUsuarioAgregado(successMessage, errorMessage);
    });
    </script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
