@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Acerca de la Aplicación</h1>
        <p class="lead">Esta es una aplicación Web API para la gestión de un hotel.</p>
        <hr class="my-4">
        <p>Utiliza esta aplicación para agregar, modificar, eliminar y consultar habitaciones, usuarios, reservas, pagos y bitácoras.</p>

        <h2>Gestión de Habitaciones</h2>
        <p>Esta sección permite gestionar la información de las habitaciones. Puedes realizar operaciones como agregar, modificar, eliminar y consultar habitaciones.</p>

        <h2>Gestión de Usuarios</h2>
        <p>Esta sección permite gestionar la información de los usuarios. Puedes realizar operaciones como agregar, modificar, eliminar y consultar usuarios.</p>

        <h2>Gestión de Reservas</h2>
        <p>Esta sección permite gestionar la información de las reservas. Puedes realizar operaciones como agregar, modificar, eliminar y consultar reservas.</p>

        <h2>Gestión de Tarjetas</h2>
        <p>Esta sección permite gestionar la información de las tajetas de crédito. Puedes realizar operaciones como agregar, modificar, eliminar y consultar las tarjetas.</p>

        <h2>Gestión de Pagos</h2>
        <p>Esta sección permite gestionar la información de los pagos. Puedes realizar operaciones como agregar, modificar, eliminar y consultar pagos.</p>

        <h2>Gestión de Bitácoras</h2>
        <p>Esta sección permite gestionar la información de las bitácoras. Puedes consultar el historial de acciones realizadas en el sistema.</p>
    </div>
</div>
