@{
    ViewData["Title"] = "Index";
}

@section MainContent {
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Web API - Proyecto Hotel</h1>
            <p class="lead">Bienvenido a la página principal de la aplicación Web API para la gestión del hotel.</p>
            <img src="~/images/hotel.jpg" alt="Hotel" class="img-fluid mt-4 mx-auto d-block" style="width: 70%; height: auto;" /> <!-- Imagen del hotel al 50% de su tamaño -->
        </div>
    </div>
}
