@{
    ViewData["Title"] = "Index";
}

@section MainContent {
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Web API - Proyecto Hotel</h1>
            <p class="lead">Bienvenido a la página principal de la aplicación Web API para la gestión del hotel.</p>
        </div>
    </div>
}
