@model ProyectoHotelFE.Models.PagoModel

@{
    ViewData["Title"] = "Abrir Edición Pago";
}

<h1>Modificación de un Pago</h1>

<h4>Ingrese la información por actualizar:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPago" asp-controller="Pago" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ID Pago:</label>
                <input type="text" asp-for="pagoID" readonly="readonly" class="form-control" />
                <span asp-validation-for="pagoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservaID" class="control-label">ID de la Reserva:</label>
                <input asp-for="reservaID" class="form-control" />
                <span asp-validation-for="reservaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monto" class="control-label">Monto del Pago:</label>
                <input asp-for="monto" class="form-control" />
                <span asp-validation-for="monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaPago" class="control-label">Fecha del Pago:</label>
                <input asp-for="fechaPago" type="date" class="form-control" />
                <span asp-validation-for="fechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="metodoPagoID" class="control-label">Método de Pago:</label>
                <select asp-for="metodoPagoID" class="form-control" asp-items="ViewBag.MetodosPago"></select>
                <span asp-validation-for="metodoPagoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Pago">Regresar a listado de pagos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
