@model ProyectoHotelFE.Models.TarjetaCreditoModel

@{
    ViewData["Title"] = "Abrir Edición Tarjeta de Crédito";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="~/css/agregar_editar.css" />
    <title>Modificación de una Tarjeta de Crédito</title>
</head>
<body>
    <h1>Modificación de una Tarjeta de Crédito</h1>
    <hr />
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg"><b>Ingrese la información por actualizar</b></p>
            <form asp-action="EditarTarjetaCredito" asp-controller="Tarjeta" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group has-feedback">
                    <label class="control-label">ID Tarjeta:</label>
                    <input type="text" asp-for="tarjetaID" readonly="readonly" class="form-control" />
                    <span class="glyphicon glyphicon-tag form-control-feedback"></span>
                    <span asp-validation-for="tarjetaID" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="usuarioID" class="control-label"></label>
                    <input asp-for="usuarioID" class="form-control" placeholder="ID Usuario" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="usuarioID" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="numeroTarjeta" class="control-label"></label>
                    <input asp-for="numeroTarjeta" class="form-control" placeholder="Número de Tarjeta" id="numeroTarjeta" />
                    <span class="glyphicon glyphicon-credit-card form-control-feedback"></span>
                    <span asp-validation-for="numeroTarjeta" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="fechaExpiracion" class="control-label"></label>
                    <input asp-for="fechaExpiracion" class="form-control" type="month" placeholder="Fecha de Expiración" />
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                    <span asp-validation-for="fechaExpiracion" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="codigoSeguridad" class="control-label"></label>
                    <input asp-for="codigoSeguridad" class="form-control" type="password" id="codigoSeguridad" placeholder="Código de Seguridad" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span asp-validation-for="codigoSeguridad" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="esValida" /> @Html.DisplayNameFor(model => model.esValida)
                    </label>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Guardar</button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-3">
                <a asp-action="Index" asp-controller="Tarjeta" class="text-center">Regresar a listado de tarjetas</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="~/js/agregarusuario.js"></script>
    <script src="~/js/seguridadtarjeta.js"></script> <!-- Incluye el nuevo script aquí -->
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
